# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data & runs (NEVER COMMIT)
data/raw/*
data/processed/*
data/interim/*
runs/*
results/*

docs/*
scripts/*
old/*

# Model artifacts
*.pt
*.pth
*.ckpt

# Logs
*.log

.claude/
.idea/
.vscode/